@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 14, 19, 20;
  --background-end-rgb: 55, 55, 55;
}
   
::-webkit-scrollbar{
  display: none;
}


@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 55, 55, 55;
    --background-start-rgb: 43, 27, 76;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.btns, .event-card, .player-card , .ad-card {
  transition: ease-out .5s;
}
 .btns, .btn, button{
  transition: ease-out .1s;
}

.btns:hover, .event-card:hover, .player-card:hover , .ad-card:hover {
  cursor: pointer;
  scale: 1.02;
}

 button:hover{
opacity: .5;
}
 .btn:hover{
background-color: rgba(29, 29, 30, 0.762);
}